.site-footer
{
  background-color:#161517; /* 26272b 272727*/
  padding:6px 0 0px;
  font-size:15px;
  /* line-height:10px; */
  color:rgb(255, 255, 255); /* 737373 */
}

.site-footer a
{
  color:#fff;  /* 737373 */
  /* opacity: .6; */
}
.site-footer a:hover
{
  /* color:#3366cc;  */ /* blue hover */
  text-decoration:underline;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff;  /* 737373 */
  /* opacity: .6; */
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:14px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;   /*  33353d*/
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:2px;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#fff; /* 96a2b2 */
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  /* background-color:#00FFBE; */
  /*29aafe  */

}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

/* .social-icons a.twitter:hover
{
  background-color:#00FFBE;}
  /*00aced  */

@media (max-width:767px)
{
  .quick-link-col {
    text-align: center;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .copyright-col {
    margin-bottom: 1rem !important;
  }
  .social-icon-col {
    margin-bottom: 0.5rem !important;
  }
}


/* ALertBar Css */
.closebtn {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #000;
}